<!-- <div class="container d-flex gap-3 my-3">
    <a href="" routerLink="home" (click)="FiltrarFilme('popular')" class="link-offset-2 link-underline link-underline-opacity-0 fs-4">
        Mais Populares
    </a>

    <a href="" routerLink="home" (click)="FiltrarFilme('favoritos')" class="link-offset-2 link-underline link-underline-opacity-0 fs-4">
        Meus Favoritos
    </a>

    <a href="" routerLink="home" (click)="FiltrarFilme('top_rated')" class="link-offset-2 link-underline link-underline-opacity-0 fs-4">
        Mais vistos
    </a>
</div> -->