<div class="container">

    <div class="d-flex justify-content-between gap-2 mt-3 mb-3">
        <div>
            <h1 class="text-warning">{{detalhe.filme.title}}</h1>
        </div>

        <div>
            <!-- <p class="text-white">{{detalhe.vote_count}}</p> -->
            <button class="btn btn-light text-dark d-flex align-items-center gap-3" (click)="AdicionarFavoritos(detalhe.filme.id)">
                {{ favorito ? 'Remover dos favoritos' : 'Adicionar aos favoritos' }}
                <i class="bi bi-heart-fill fs-2 text-warning" *ngIf="favorito"></i>
                <i class="bi bi-heart-fill fs-2 text-dark" *ngIf="!favorito"></i>
            </button>
        </div>
    </div>

    <p class="fw-bold date text-white" >{{detalhe.release_date}}</p>

    <div class="row ">

        <div class="col-lg-3">
            <img src="{{detalhe.filme.poster_path}}" alt="" class="img-fluid rounded-3">
        </div>

        <div class="col-lg-9">
            <Iframe class="rounded-3" id="iframeTrailer" [src]="link | safeUrl"  frameborder="0" allowfullscreen width="100%" height="100%"></Iframe>
        </div>
    </div>

    <div class="container d-flex gap-2 mt-2">
        <div *ngFor="let genero of detalhe.genres" class="">
            <button type="button" class="btn btn-lg btn-warning" disabled>{{genero.name}}</button>
        </div>
    </div>

    <div class="container d-flex mt-2">
        <p class="fs-4 fw-bold text-white">{{detalhe.overview}}</p>
    </div>

    <div class="row">
        <div *ngFor="let credito of creditosFilmes" class="col-6 col-md-4 col-lg-2 gap-5">
            <app-creditos-filme [credito]="credito"></app-creditos-filme>
        </div>
    </div>
</div>